@using SeahawkSaverFrontend.UI.Utilities
@inherits LayoutComponentBase

<MudThemeProvider Theme="new SeahawkTheme()"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudAppBar>
    <h1>Seahawk Saver</h1>
</MudAppBar>
<MudMainContent>
    @Body
</MudMainContent>